.experience{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-top: 6rem;
    gap: 10rem;
    margin-bottom: 12rem;
}

.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle{
    font-size: 1.8rem;
    font-weight: 900;
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 100%;   
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.circle::before{
    border-radius: 100%;   
    content: '';
    background-image: linear-gradient(to bottom, #87e6fb 0% ,#d8bbff 100%);
    position: absolute;
    z-index: -1;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    box-shadow: var(--boxShadow);
}

.achievement span:nth-of-type(2){
    font-size: 25px;
    font-weight: 600;
    color: var(--orange);
}


.achievement span:nth-of-type(1){
    font-size: 25px;
    font-weight: 500;
    color: var(--black);
}


@media screen and (max-width : 800px) {
    .experience{
        /* margin-top: 20rem; */
        height: 40rem;
        transform: scale(0.45);
        margin-bottom: -20rem;
    }
    .achievement{
       transform: scale(1.5)!important;
    }

}